@{
    ViewBag.Title = "Home Page";
}

<div class="placeholders">
    <div class="row d-flex justify-content-start">
        <div class="col-md-2 mb-3 placeholder">
            <img class="img-fluid " alt="200x200" src="~/Images/200.png">
        </div>
        <div class="col-md-3">
            <h2>SVG Coding Test</h2>
            <p>
                Click the menu buttons for Sales and Market Share to see downloadable bar graphs of each.
            </p>
        </div>
</div>
